@use '../../core/utils';
@use '../../theme';

.card {
  @include theme.font-stack();

  margin: 0 auto;
  padding: utils.pxToRem(24px);

  width: utils.pxToRem(327px);

  border-radius: 12px;

  background-color: var(--dark-grey);
  color: var(--white);

  text-align: center;

  &__header {
    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      height: utils.pxToRem(88px);
      width: utils.pxToRem(88px);
    }
  }

  &__title {
    @include theme.heading();
  }

  &__subtitle {
    @include theme.body('bold');

    color: var(--neon-green);
  }

  &__body {
    @include theme.body();
  }
}

.social-link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-top: 0;
    margin-bottom: utils.pxToRem(16px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    text-decoration: none;
    @include theme.body('bold');
    
    color: var(--white);
    background-color: var(--grey);

    border-radius: 8px;

    padding: utils.pxToRem(12px) 0;
  }
}
