@use 'sass:meta';

@layer reset {
  @layer {
    @include meta.load-css('~normalize.css/normalize.css');
  }

  html {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    min-width: 0;
  }
}
