@use '../base/utils';
@use 'sass:map';

@layer theme {
  :root {
    --font-size-xs: #{utils.pxToRem(12px)};
    --font-size-s: #{utils.pxToRem(14px)};
    --font-size-m: #{utils.pxToRem(16px)};
    --font-size-l: #{utils.pxToRem(20px)};
    --font-size-xl: #{utils.pxToRem(24px)};

    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
  }
}

@mixin font-stack() {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  line-height: 150%;
}

$_font-weights: (
  'regular': 400,
  'semi-bold': 600,
  'bold': 700
);

$_font-sizes: (
  'body': utils.pxToRem(14px),
  'heading': utils.pxToRem(24px),
);

@function font-size($size: 'body') {
  @return map.get($_font-sizes, $size);
}

@function font-weight($weight: 'regular') {
  @return map.get($_font-weights, $weight);
}

